:root {
  --bg-color: #fbfbfb;
  --text-color: #000000;
  --card-color: #ffffff;
}

[data-theme="dark"] {
  --bg-color: #0f0f0f;
  --text-color: #ffffff;
  --card-color: #323232;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  box-sizing: content-box;
}

.html,
body,
#root,
html,
body {
  background: var(--bg-color);
  color: var(--text-color);
}

.bottom-nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  background: var(--bg-color);
  color: var(--text-color);
  border-top: 2px solid #eee;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}
